.slider-area {
    background-image: url(../../images/bg-header.jpg) !important;
    background-size: contain;
}

.slider-height {
    min-height: 812px !important;
}

.services-area .single-services .services-cap p {
    color: #7f88ff !important;
}
