.slider-area {
    background-image: url(../../images/bg-header.jpg) !important;
    background-size: contain !important;
    background-position: top !important;
}
.hero-area2 {
    background-image: url(../../images/bg-header.jpg) !important;
}

.slider-height {
    min-height: 812px !important;
}

.services-area .single-services .services-cap p {
    color: #7f88ff !important;
}

.slider-area .hero__caption span {
    color: #75ebff !important;
    font-family: 'Mate SC', serif !important;
}
